# .gitignore

# --- General ---
# Ignore all system-specific or editor-specific files
.DS_Store
Thumbs.db
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore virtual environments
venv/
env/
.venv/
.venv.bak/

# Ignore python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# --- Django ---

# Django specific files
*.env              # Ignore environment variable files
*.env.local        # Local environment variable files
*.env.production   # Production environment variables
*.env.test         # Test environment variables
.envrc            # direnv
*.log
*.pot
celerybeat-schedule
.db.sqlite3        # SQLite database
instance/
media/
static/
site_media/
docs/_build/

# Django migrations
**/migrations/**/__pycache__/
**/migrations/**/*.pyc
**/migrations/**/*.pyo
**/migrations/**/*.pyd

# --- Next.js ---

# Next.js build output and dependencies
node_modules/
.next/
out/

# Ignore environment variables and local settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm and yarn lock files if not using both
package-lock.json
yarn.lock

# Ignore build cache and other local settings
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Other ---

# Ignore editor-specific and IDE-specific files
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/
*.iml

# Ignore macOS specific files
.DS_Store

# Ignore Linux specific files
*~ 

# Ignore Windows specific files
Thumbs.db
ehthumbs.db
